header .skills, header .name  {
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

/*.stroke  {
  box-shadow:
   -3px -3px 5px #ecf0f1,  
    3px -3px 5px #ecf0f1,
    -3px 3px 5px #ecf0f1,
     3px 3px 5px #ecf0f1;
   -webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}*/

header .top-bg {
	overflow:hidden;
	background-image: url("../img/testsheet.jpg");
    background-position: center;
    background-size: cover;
    display: inline-block;
    width: 100%;
}

.qoute {
	overflow:hidden;
	background-image: url("../img/studying.jpg");
    background-position: center;
    background-size: cover;
    display: inline-block;
    width: 100%;
}

.qoute p{
  font-size:40px;
  color:white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.vp-fit {
	min-height: 800px;
}